/* Home.css */
.home-container {
    text-align: center; 
    padding: 20px; 
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .home-container h1 {
    color: #02031a; 
    margin-bottom: 20px; 
  }
  
  .home-container p {
    font-size: 18px;
    margin-bottom: 20px; 
  }
  
  .home-container ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .home-container li {
    font-size: 16px; 
  }
  
  .home-container a {
    display: block; 
    margin: 10px 0;
    text-decoration: none; 
    color: #02031a;
    text-align: center;
  }
  
  .home-container a:hover {
    color: #531b1f;
}
  